{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "jasmine": true
  },
  "globals": {
    "NodeJS": true
  },
  "ignorePatterns": [
  ],
  "overrides": [
    {
      "files": [
        "*.ts", "*.tsx"
      ],
      "parserOptions": {
        "project": [
          "tsconfig.eslint.json"
        ],
        "createDefaultProgram": true
      },
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
      ],
      "plugins": [
        "deprecation"
      ],
      "rules": {
        "@typescript-eslint/no-explicit-any": [
          "warn"
        ],
        "@typescript-eslint/naming-convention": [
          "error",
          {
            "selector": "property",
            "modifiers": ["private"],
            "format": ["camelCase"],
            "leadingUnderscore": "require"
          }
        ],
        "quotes": [
          "error",
          "single"
        ],
        "semi": [
          "error",
          "always"
        ],
        "arrow-parens": [
          "error",
          "as-needed"
        ],
        "space-before-function-paren": [
          "error",
          {
            "anonymous": "always",
            "named": "never",
            "asyncArrow": "always"
          }
        ],
        "lines-between-class-members": [
          "error",
          "always",
          {
            "exceptAfterSingleLine": true
          }
        ],
        "no-constant-condition": [
          "error",
          {
            "checkLoops": false
          }
        ],
        "curly": ["error"],
        "@typescript-eslint/explicit-member-accessibility": [
          "error",
          {
            "accessibility": "explicit",
            "overrides": {
              "accessors": "explicit",
              "constructors": "no-public",
              "methods": "explicit",
              "properties": "off",
              "parameterProperties": "explicit"
            }
          }
        ],
        "@typescript-eslint/no-unused-vars": "error",
        "@typescript-eslint/consistent-type-assertions": [
          "error",
          {
            "assertionStyle": "as",
            "objectLiteralTypeAssertions": "allow"
          }
        ],
        "deprecation/deprecation": "error"
      }
    },
    {
      "files": [
        "*.html"
      ],
      "extends": [
        "plugin:prettier/recommended"
      ],
      "rules": {
      }
    }
  ]
}
