doctype xml
package
    metadata
        id JohnSmith
        version #{version}
        authors Eugene Guryanov
        owners Eugene Guryanov
        projectUrl http://github.com/guryanovev/JohnSmith
        requireLicenseAcceptance false
        description Lightweight and simple JavaScript MVC framework
        tags js javascript mvc mvvm
        dependencies
            dependency#jQuery(version=1.9)