doctype xml
package
    metadata
        id JohnSmith
        version #{version}
        authors Eugene Guryanov
        owners Eugene Guryanov
        projectUrl http://github.com/guryanovev/JohnSmith
        requireLicenseAcceptance false
        description Lightweight and simple JavaScript MVC framework
        tags js javascript mvc mvvm
        iconUrl https://raw.github.com/guryanovev/JohnSmith/master/src_examples/assets/images/john_smith_32.png
        dependencies
            dependency#jQuery(version=1.9)
    files
        file(src="john-smith.debug.js", target="content/Scripts")
        file(src="john-smith.min.js", target="content/Scripts")