doctype xml

mixin topicsUrl(currentTopics)
    each topic in currentTopics
        url
            loc http://john-smith-js.com/#{topic.id}.html
        if topic.children.length > 0
            mixin topicsUrl(topic.children)

urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")
    mixin topicsUrl(topics)