h1, h2, h3, h4, h5, pre, code
{
    margin: 0;
    padding: 0;
}

body
{
    background: url(../images/debut_light.png);
}

pre
{
    background: transparent;
    border: none;
    border-radius: 0;
}

button::-moz-focus-inner {
    border: 0;
}

/* Main Header */

#mainHeader
{
    background: rgba(62, 65, 71, 0.8);
    height: 120px;
    overflow: hidden;
}

#mainHeader #logo
{
    height: 120px;
    float: left;
    width: 300px;
    background: #3E4147;
    margin-right: 30px;
    border-right: 1px solid #999999;
    /*background: -webkit-gradient(linear, left top, left bottom, from(#4b4b4b), to(#333333));*/
}

#mainHeader #logo .title
{
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 15px;
}

#mainHeader #logo .description
{
    font-size: 12px;
    color: #FFFFFF;
    display: block;
    margin-left: 15px;
}

#mainHeader #resources
{
    float: left;
    color: #CCCCCC;
    margin-top: 19px;
    font-size: 14px;
    font-weight: bold;
}

#mainHeader #resources A
{
    color: #FFFFFF;
    text-decoration: underline;
    display: block;
    padding-top: 7px;
}

#mainHeader #links
{
    float: left;
    color: #CCCCCC;
    margin-right: 70px;
    margin-top: 19px;
    font-size: 14px;
    font-weight: bold;
}

#mainHeader #links A
{
    color: #FFFFFF;
    text-decoration: underline;
    display: block;
    padding-top: 7px;
}

/* Aside */

aside
{
    width: 300px;
    float: left;
    overflow: hidden;
    background: #95c1e5;
    border-right: 1px solid #87b3d8;
}

aside ul
{
    padding: 0;
    margin: 0;
}

aside ul,
aside ul li
{
    list-style: none;
    list-style-type: none;
}

aside ul li
{


}

aside a
{
    font-size: 14px;
    display: block;
    color: #FFFFFF;
    padding: 5px 15px;
    border-bottom: 1px solid #2779be; /*#49759a;*/
    border-top: 1px solid #95c1e5;
    text-decoration: none;
}

aside a:hover
{
    text-decoration: none;
    background: #87b3d8;
    color: #FFFFFF;
}


aside a.selected:hover
{
    text-decoration: none;
}

aside ul.navLevel0 {
    background: #4d9cde;
}

aside ul.navLevel0 a {
    font-size: 14px;
    font-weight: bold;
}

aside ul.navLevel0 ul.navLevel1 a.selected,
aside ul.navLevel0 ul.navLevel1 a.selected:HOVER,
aside ul.navLevel0 a.selected:HOVER,
aside ul.navLevel0 a.selected
{
    background: #666666;
    border-color: #666666;
    color: #FFFFFF;
}

aside ul.navLevel0 a:hover
{
    background: #2779be;
    border-top-color: #2779be;
    border-bottom-color: #2779be;
}

aside ul.navLevel0 ul.navLevel1 a:hover
{
    background: #87b3d8;
    border-top-color: #87b3d8;
    border-bottom-color: #87b3d8;
}

aside ul.navLevel0 ul.navLevel1 a {
    font-size: 12px;
    font-weight: normal;
    background: #95c1e5;
    border-bottom-color: #87b3d8;
}

/* Main Container */

#overlay
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(99, 99, 99, 0.5);
    z-index: 1000;
    text-align: center;
    line-height: 100%;
}

#overlay .content
{
    width: 500px;
    background: #333333;
    margin: 200px auto 0;
    padding: 50px 0;
    color: #FFFFFF;
    font-size: 46px;

}

#mainContainer
{
    overflow: hidden;
}

#mainContainer .description p
{
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

#mainContainer .description code
{
    margin-bottom: 1.5em;
}

#topic
{
    padding: 0 20px;
}

#topic h2 {
    height: 70px;
    line-height: 70px;
}

#topic section
{
    background: #FFFFFF;
    box-shadow: 0 0 2px rgba(66, 66, 66, 0.8);
    overflow: auto;
}

#topic section .content
{
    padding: 15px;
}

#topic .sourceCode
{
    padding-bottom: 20px;
}

#topic section
{
    position: relative;
}

#topic section .content
{
    overflow: auto;
}

#topic section h4
{
    background: #3991db;
    color: #FFFFFF;
    font-size: 12px;
    padding: 3px 5px;
    float: right;
    margin: 0;
    position: absolute;
    right: 5px;
    top: 5px;
}

#topic form
{
    padding-top: 20px;
}