#result #destination #fileTree #treeRoot
{
    margin-bottom: 0;
}

#fileTree #treeRoot ul
{
    padding-left: 5px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

#fileTree ul li
{
    font-size: 12px;
    font-weight: 700;
    padding-left: 20px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    background: url(assets/images/file.png) no-repeat 0 0;
}

#fileTree ul li.directory
{
    background: url(assets/images/folder.png) no-repeat 0 0;
}

#fileTree ul li a
{
    color: #000000;
    text-decoration: none;
}

#fileTree ul li a:hover
{
    text-decoration: underline;
}